{#{% load static %}#}
{#{% load cache %}#}
{#		{% cache 1800 feed  %}#}
{#          {% load feeds %}#}
{#          {% pull_feed 'http://www.vesti.ru/vesti.rss' 3 %}#}
{#        {% endcache %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Myfeeds</title>#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">#}
{#    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i" rel="stylesheet">#}
{#     <style>#}
{#        html, body{#}
{#            height: 100%;#}
{#            max-height: 100%;#}
{#        }#}
{#        h1 {#}
{#            font-size: 100%;#}
{#            font-family: 'Roboto', sans-serif;#}
{#            font-style: oblique;#}
{#            padding-top: 20%;#}
{##}
{#        }#}
{#        .general-container {#}
{#            height: inherit;#}
{#            background-image: url("http://luxfon.com/images/201203/luxfon.com_1133.jpg");#}
{#            -moz-background-size: 100%;#}
{#            -o-background-size: 100%;#}
{#            -webkit-background-size: 100%;#}
{#            font-family: "Freehand521 BT";#}
{#            -webkit-text-fill-color: #e2e6ff;#}
{##}
{#        }#}
{#    </style>#}
{##}
{#</head>#}
{#<body>#}
{#    <div class="general-container">#}
{#        <div class="row">#}
{#            <div class="col-md-6 text-center">#}
{#                <h1>#}
{#                    Hi it is my new list!#}
{#                </h1>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#</body>#}
{#</html>#}